<div class="container titulo">
    <h1>Productos</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        @for(producto of listaProductos; track $index){
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <h5 class="card-title">{{producto.marca}}</h5>
                    <h4 class="card-title">{{producto.precio | currency}}</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                        <a class="btn btn-primary" (click)="navegar(producto.id)">Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
